@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-900;
  @apply bg-zinc-50;

  @media (prefers-color-scheme: dark) {
    @apply text-zinc-50;
    @apply bg-zinc-900;
  }
}

h1 {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2:not(article) {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

pre {
  @apply bg-zinc-100;
  @apply rounded-lg;
  padding: 1em;
  overflow-x: auto;

  @media (prefers-color-scheme: dark) {
    @apply bg-zinc-800;
  }

  span {
    color: var(--shiki-light, inherit);

    @media (prefers-color-scheme: dark) {
      color: var(--shiki-dark, inherit);
    }
  }

  code {
    @apply font-mono;
    @apply bg-transparent;
    padding: 0;
  }
}

code {
  @apply font-mono;
  @apply bg-zinc-200;
  @apply rounded-md;
  padding: 0.2em 0.4em;

  @media (prefers-color-scheme: dark) {
    @apply bg-zinc-800;
  }
}

.lang {
  display: none;
}

ul {
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

blockquote {
  @apply border-l-4;
  @apply rounded-l-lg;
  @apply border-zinc-200;
  @apply bg-zinc-50;
  @apply p-4;
  @apply my-4;
  @apply text-zinc-900;

  @media (prefers-color-scheme: dark) {
    @apply border-zinc-800;
    @apply bg-zinc-900;
    @apply text-zinc-50;
  }

  p {
    margin: 0;
  }
}

table {
  @apply w-full;
  @apply border-collapse;
  @apply rounded-lg;

  @apply border-t;
  @apply border-zinc-200;

  @media (prefers-color-scheme: dark) {
    @apply border-zinc-800;
  }

  th {
    @apply bg-zinc-200;
    @apply border-b;
    @apply border-zinc-200;
    @apply p-2;
    @apply text-zinc-900;

    @media (prefers-color-scheme: dark) {
      @apply bg-zinc-800;
      @apply border-zinc-800;
      @apply text-zinc-50;
    }
  }

  td {
    @apply border-b;
    @apply border-zinc-200;
    @apply p-2;

    @media (prefers-color-scheme: dark) {
      @apply border-zinc-800;
    }
  }
}

hr {
  @apply border-t;
  @apply border-zinc-200;
  @apply my-[1em];
  border-width: 0.12rem;
  border-radius: 12rem;

  @media (prefers-color-scheme: dark) {
    @apply border-zinc-800;
  }
}

a:not(nav a),
a:not(article a) {
  @apply font-bold;
  @apply transition-colors;
  @apply underline;
  @apply hover:text-zinc-600;
  @apply dark:hover:text-zinc-400;
  @apply hover:decoration-dotted;
}
